:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --search-color: #ebebeb;
  --animation-color-in: #ff0000;
  --animation-color-out: #000000;
  --top-hover-color: #d3d3d3;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  opacity: 1;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
}

body.dark-mode {
  --background-color: #424242;
  --text-color: #ffffff;
  --search-color: #2c2c2c;
  --animation-color-in: #00a2ff;
  --animation-color-out: #ffffff;
  --top-hover-color: #000000;
}

html {
  scroll-behavior: smooth;
}

#topButton {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%) translateY(100px);
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--background-color);
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  will-change: opacity, transform;
}

#topButton svg path {
  fill: var(--text-color);
}


#topButton.show {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
  pointer-events: auto;
}

#topButton:hover {
  background-color: var(--top-hover-color);
}

#topButton:active {
  transform: translateX(-50%) translateY(15px); /* Süllyedés animáció */
  transition-duration: 0.1s;
}




#searchBtn:active,
.open-folder-btn:active,
.copy-path-btn:active,
.cancel-search-btn:active {
  transform: translateY(2px);
  will-change: transform;
}


.button-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.search-message {
  display: none;
}


.cancel-search-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding-bottom: 50px;
}


.cancel-search-btn {
  display: none;
  padding: 10px 20px;
  background-color: #b80000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-search-btn:hover {
  background-color: #8d0000;
}


.loader {
  width: 99px;
  height: 99px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: var(--animation-color-out) var(--animation-color-out) transparent transparent;
  box-sizing: border-box;
  animation: rotation 3s linear infinite;
  z-index: 2;
  will-change: transform;
}

.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent var(--animation-color-out) var(--animation-color-out);
  width: 66px;
  height: 66px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite, glow 5s ease-in-out infinite;
  transform-origin: center center;
  will-change: transform;
}

.loader::before {
  width: 33px;
  height: 33px;
  border-color: var(--animation-color-out) var(--animation-color-out) transparent transparent;
  animation: rotationEase 3s cubic-bezier(0.55, 0.055, 0.675, 0.19) infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationEase {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-180deg);
  }
}

@keyframes glow {
  0% {
    border-color: transparent transparent transparent transparent;
  }

  25% {
    border-color: transparent transparent  var(--animation-color-in);
  }

  50% {
    border-color: transparent transparent var(--animation-color-in) var(--animation-color-in);
  }

  75% {
    border-color: var(--animation-color-in) var(--animation-color-in) var(--animation-color-in) var(--animation-color-in);
  }

  100% {
    border-color: transparent transparent transparent transparent;
  }
}




@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}


#searchQuery {
  background-color: var(--search-color);
  color: var(--text-color);
}

#searchBtn {
  background-color: #00a3da;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
  position: relative;
  overflow: hidden;
}


#searchBtn:hover {
  background-color: #008CBA;
}



.open-folder-btn {
  background-color: #f0ad4e;
  color: white;
  padding: 5px 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  width: auto;
}

.open-folder-btn:hover {
  background-color: #ec971f;
}



.copy-path-btn {
  margin-left: 10px;
  background-color: #0000007c;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.copy-path-btn:hover {
  background-color: #000000;
}

li {
  background-color: #fffab1;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  padding: 15px;
  text-align: left;
  animation: fadeIn 0.5s ease-in-out forwards;
  opacity: 0;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  will-change: box-shadow, transform, opacity;
}




li:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-4px);
}


li:hover:active {
  transform: translateY(5px);
  transition: transform 0.1s ease-in-out;
  will-change: transform;
}

li.last-opened {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}

li.last-opened a {
  color: #155724;
}


li a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: #333;
  font-size: 16px;
}



input[type=text] {
  width: 200px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
}


.notification {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4CAF50;
  color: white;
  padding: 10px 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.541);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  z-index: 1000;
}


.notification.show {
  opacity: 1;
  visibility: visible;
}
